/*
	Name: Vedant Kapadia
	File: p3schhomepage.css
	Date: 20 September 2024
	School Homepage
*/


/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}


/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header,
section,
aside,
nav,
footer {
    padding: 20px;
}


/* header and footer */

header,
footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}


/* WRITE YOUR CODE BELOW HERE */


/*Text Styles*/

html {
    font-family: lovatolight, serif;
    /* Default font family */
    font-size: 10px;
}

h1,
h2 {
    font-family: josefin_slabbold, sans-serif;
    /* Heading font family */
    letter-spacing: 2px;
}

h1 {
    font-size: 5rem;
    /* Font size for h1 */
    text-align: center;
    /* Center align h1 */
}

h2 {
    font-size: 3.2rem;
    /* Font size for h2 */
}

section h2+p {
    text-indent: 20px;
    /* Indent paragraphs following h2 in sections */
}

p,
li {
    font-size: 1.6rem;
    /* Font size for paragraphs and list items */
    line-height: 1.5;
    /* Line height for paragraphs and list items */
    letter-spacing: 0.5px;
    /* Letter spacing for paragraphs and list items */
    word-spacing: 3px;
    /* Word spacing for paragraphs and list items */
}


/* Link Styling */

a {
    outline: none;
    /* Remove outline of the links */
}

a[href*="http"] {
    padding-right: 19px;
    /* Add padding to links with http in href */
    background: url(external-link-52.png) no-repeat 100% 0;
    /* Add external link icon */
    background-size: 16px 16px;
    /* Set size of external link icon */
}

a:link,
a:visited {
    color: #a66;
    /* Link color */
}

a:focus,
a:hover {
    text-decoration: none;
    /* Remove underline on hover and focus */
}

a:active {
    color: transparent;
    /* Link color when active */
    text-shadow: 0px 0px 1px #f00, 0px 0px 2px #f00, 0px 0px 3px black, 0px 0px 4px black;
    /* Text shadow on active */
}


/* Lists */

ul,
ol {
    margin: 1.6rem 0;
    /* Margin for unordered and ordered lists */
}

ul {
    list-style-type: square;
    /* List style for unordered lists */
}

ol {
    list-style-type: lower-latin;
    /* List style for ordered lists */
}


/* nav menu */

nav ul {
    padding-left: 0;
    margin-top: 0.8rem;
}

nav li {
    list-style-type: none;
    margin-bottom: 2rem;
}

nav li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 2.5rem;
    border: 1px solid #a66;
}

nav li a:focus,
nav li a:hover {
    color: white;
    background: #a66;
}

nav li a:active {
    color: white;
    background: black;
}